body{
background:#06110d;
color:white;
padding:20px;
}

.topbar{
position:sticky;
top:0;
z-index:999;
background:#081712;
padding:14px;
display:flex;
gap:12px;
justify-content:center;
border-bottom:1px solid rgba(0,255,136,0.15);
margin-bottom:20px;
border-radius:14px;
}

.topbar a{
color:#00ff88;
text-decoration:none;
font-weight:bold;
font-size:14px;
padding:8px 12px;
border-radius:10px;
transition:0.3s;
}

.topbar a:hover{
background:#00ff88;
color:#000;
}
